<ng-template #subHeader [formGroup]="form">
    <div class=flex>
        <div id="call-selection">
            <mat-form-field floatLabel="never">
                <mat-label>Agent</mat-label>
                <mat-icon matPrefix>supervised_user_circle</mat-icon>
                <mat-select disableOptionCentering formControlName="agent" panelClass="dropdown">
                    <mat-option *ngFor="let AGENT of AGENTS" [value]="AGENT.agentID">{{AGENT.fullName}}</mat-option>
                </mat-select>
            </mat-form-field>
        
            <mat-form-field floatLabel="never">
                <mat-label>Call</mat-label>
                <mat-icon matPrefix>phone</mat-icon>
                <mat-select 
                disableOptionCentering 
                formControlName="call" 
                panelClass="dropdown" 
                (selectionChange)="handleCallChange($event)"
                >
                    <mat-option *ngFor="let call of filterCalls" [value]="call.call_id">
                        {{ call.call_start_time | date: "MM.dd.yyyy." }} - {{call.customer[0].full_name}}
                    </mat-option>
                    <mat-option [value]="1234">
                        1234
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div id="intensity-selection" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">
        <span>MATCHING SENSITIVITY</span>
        <mat-slider color="primary" max="100" min="0" formControlName="slider" (input)="updateSliderValue($event)"></mat-slider>
        <span>{{sliderValue}}%</span>
    </div>
</ng-template>

<section class="content" fxLayout="row" fxFlex="grow" fxLayoutAlign="space-between strech" fxLayoutGap="24px" *ngIf="filterCalls.length">
    <app-call 
    [dataSource]="dataSource" 
    fxFlex="grow" 
    [tableHeader]="'Real'" 
    [category]="'REAL'" 
    [sliderValue]="sliderValue" 
    [agents]="AGENTS"
    [customer]="transcripts.customer"
    [agent]="transcripts.agent"
    >
    </app-call>
    <app-call 
    [dataSource]="dataSourceRep" 
    fxFlex="grow" 
    [tableHeader]="'Expected'" 
    [category]="'EXPECTED'" 
    [sliderValue]="sliderValue"
    >
    </app-call>
</section>

<ng-container *ngIf="!filterCalls.length">
    <div class="empty-state text-center">
        <img src="/assets/img/choose.svg"/>
        <h1 class="mat-h1 font-weight-bold">Selection pending</h1>
        <p class="mat-body">Select a call from top menu and a transcript analysis will be shown here</p>
    </div>
</ng-container>